<main class="m-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <p class="h1 textoNaranja"><strong>Detalle de Compra</strong></p>
        </div>
      </div>
      <div class="row m-2 bordeSuperiorVerde">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 bordeLateralDer">
          <div class="row mt-2">
            <div class="col-4">
              <h4>Producto</h4>
            </div>
            <div class="col-2">
              <h4>Precio</h4>
            </div>
            <div class="col-2">
              <h4>Cantidad</h4>
            </div>
            <div class="col-2">
              <h4>Subtotal</h4>
            </div>
          </div>
          <div class="row mt-2" *ngFor="let item of productosCarrito">
            <div class="col-4 form-inline">
              <img src="../../../../assets/img/sandia.jpg" class="img-thumbnail" alt="Responsive image"  width="100px">
              <br>
              {{item.producto.nombre}}
            </div>
            <div class="col-2 align-middle">
              <h4>$ {{item.producto.precio}} </h4>
            </div>
            <div class="col-2">
              <div class="input-group">
                <input type="number" class="form-control" placeholder="{{item.cantidad}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-2 align-middle">
              <h4>$ {{item.subtotal}} </h4>
            </div>
            <div class="col-1 align-middle">
              <button type="button" class="btn" data-dismiss="modal" (click)="removerItem(item.producto)">
                <img src="../../../../assets/img/removeCar2.png" alt="">
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="row mt-2 ml-1">
            <div class="col-12">
              <h3>TOTAL</h3>
            </div>
            <div class="col-12 mt-2">
              <p class="h4 text-danger">$ {{precioTotal}} </p>
            </div>
            <div class="col-12 mt-2">
              <a class="btn btn-naranja btn-block" role="button">Finalizar Compra</a>
            </div>
            <div class="col-12 mt-4 text-center">
              <a class="btn btn-light btn-block" role="button">Seguir Comprando</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
